@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--var-nunito);
}

body > #root > div {
  min-height: 100dvh;
  height: 100%;
}

:root {
  color-scheme: only light;
}

